.root {
    -fx-background-color: #A2999E;
}
.text-field {
     -fx-background-color: #EEF0F2;
     -fx-pref-height: 50px;
     -fx-pref-width: 350px;
     -fx-max-width: 350px;
     -fx-text-fill: #A2999E;
     -fx-border-radius: 30px;
     -fx-background-radius: 30px;
     -fx-font-size: 20px;
 }
.button {
    -fx-background-color: #846A6A;
    -fx-text-fill: #EEF0F2;
    -fx-font-size: 20px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-alignment: center;
}
.button:hover {
    -fx-background-color: #C6C7C4;
    -fx-border-color: #C6C7C4;
}
.grid-pane {
    -fx-alignment: center;
}
.search {
    -fx-padding: 0 0 0 20px;
}